html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	height: 100%;
	background-color: #0b0c0e;
}


.background{
	position: fixed;
	width: auto;
	height: auto;
    top: 0%;
	z-index: -1;
    opacity: 0;
	-webkit-animation: FadeIn 5s forwards 2s ease-in-out;
    -moz-animation: FadeIn 5s forwards 2s ease-in-out;
    -o-animation: FadeIn 5s forwards 2s ease-in-out;
    animation: FadeIn 5s forwards 2s ease-in-out;
}

.neonanim{
	opacity: 0;
	/*background-image: url("../images/back.png");
	background-size: 100%;*/
    margin-top: 1%;
	background-attachment: fixed;
	-webkit-animation: Neon 3s forwards 4s;
    -moz-animation: Neon 3s forwards 4s;
    -o-animation: Neon 3s forwards 4s;
    animation: Neon 3s forwards 4s;
}

@-webkit-keyframes Neon {
    0% {opacity: 0;}
    63% {opacity: 0;}
    65% {opacity: 0.3;}
    73% {opacity: 0.2;}
    75% {opacity: 0.4;}
    80% {opacity: 0.2;}
    83% {opacity: 0.6;}
    85% {opacity: 0.4;}
    88% {opacity: 0.8;}
    100% {opacity: 1;}
}

@-moz-keyframes Neon {
    0% {opacity: 0;}
    63% {opacity: 0;}
    65% {opacity: 0.3;}
    73% {opacity: 0.2;}
	75% {opacity: 0.4;}
    80% {opacity: 0.2;}
    83% {opacity: 0.6;}
    85% {opacity: 0.4;}
    88% {opacity: 0.8;}
    100% {opacity: 1;}
}

@-o-keyframes Neon {
    0% {opacity: 0;}
    63% {opacity: 0;}
    65% {opacity: 0.3;}
    73% {opacity: 0.2;}
	75% {opacity: 0.4;}
    80% {opacity: 0.2;}
    83% {opacity: 0.6;}
    85% {opacity: 0.4;}
    88% {opacity: 0.8;}
    100% {opacity: 1;}
}

@keyframes Neon {
    0% {opacity: 0;}
    63% {opacity: 0;}
    65% {opacity: 0.3;}
    73% {opacity: 0.2;}
	75% {opacity: 0.4;}
    80% {opacity: 0.2;}
    83% {opacity: 0.6;}
    85% {opacity: 0.4;}
    88% {opacity: 0.8;}
    100% {opacity: 1;}
}



@-webkit-keyframes FadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes FadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes FadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes FadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.test{
	/*background-color: #333;*/
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 30px;
}

.test img{
	filter: drop-shadow(0px 0px 5px red);
	max-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
	
}

.test a{
	color: #fa4609;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0px 0px 10px #fa4609;
    text-decoration: none;
}


.loader{
    position: absolute;
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: LoaderHeight .1s forwards 4.9s ease-in-out;
    -moz-animation: LoaderHeight .1s forwards 4.9s ease-in-out;
    -o-animation: LoaderHeight .1s forwards 4.9s ease-in-out;
    animation: LoaderHeight .1s forwards 4.9s ease-in-out;
}

.loader img{
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.circle1{
    -webkit-animation: LoaderCircle1 4.9s forwards ease-in-out;
    -moz-animation: LoaderCircle1 4.9s forwards ease-in-out;
    -o-animation: LoaderCircle1 4.9s forwards ease-in-out;
    animation: LoaderCircle1 4.9s forwards ease-in-out;
}

.circle2{
    -webkit-animation: LoaderCircle2 4.9s forwards ease-in-out;
    -moz-animation: LoaderCircle2 4.9s forwards ease-in-out;
    -o-animation: LoaderCircle2 4.9s forwards ease-in-out;
    animation: LoaderCircle2 4.9s forwards ease-in-out;
}

.circle3{
    -webkit-animation: LoaderCircle3 4.9s forwards ease-in-out;
    -moz-animation: LoaderCircle3 4.9s forwards ease-in-out;
    -o-animation: LoaderCircle3 4.9s forwards ease-in-out;
    animation: LoaderCircle3 4.9s forwards ease-in-out;
}

.circle4{
    -webkit-animation: LoaderCircle4 4.9s forwards ease-in-out;
    -moz-animation: LoaderCircle4 4.9s forwards ease-in-out;
    -o-animation: LoaderCircle4 4.9s forwards ease-in-out;
    animation: LoaderCircle4 4.9s forwards ease-in-out;
}

.circle5{
    -webkit-animation: LoaderCircle5 4.9s forwards ease-in-out;
    -moz-animation: LoaderCircle5 4.9s forwards ease-in-out;
    -o-animation: LoaderCircle5 4.9s forwards ease-in-out;
    animation: LoaderCircle5 4.9s forwards ease-in-out;
}

@-webkit-keyframes LoaderCircle1 {
    0% {width: 0%; -webkit-transform: rotate(0deg);}
    10% {width: 8%;}
    30% {width: 5%;}
    55% {width: 6%;}
    80% {width: 5%;}
    90% {width: 0%;}
    100% {width: 0%; transform:rotate(-100deg);}
}

@-moz-keyframes LoaderCircle1 {
    0% {width: 0%; -moz-transform: rotate(0deg);}
    10% {width: 8%;}
    30% {width: 5%;}
    55% {width: 6%;}
    80% {width: 5%;}
    90% {width: 0%;}
    100% {width: 0%; transform:rotate(-100deg);}
}

@-o-keyframes LoaderCircle1 {
    0% {width: 0%; -o-transform: rotate(0deg);}
    10% {width: 8%;}
    30% {width: 5%;}
    55% {width: 6%;}
    80% {width: 5%;}
    90% {width: 0%;}
    100% {width: 0%; transform:rotate(-100deg);}
}

@keyframes LoaderCircle1 {
    0% {width: 0%; transform:rotate(0deg);}
    10% {width: 8%;}
    30% {width: 5%;}
    55% {width: 6%;}
    80% {width: 5%;}
    90% {width: 0%;}
    100% {width: 0%; transform:rotate(-100deg);}
}


@-webkit-keyframes LoaderCircle2 {
    0% {width: 0%; -webkit-transform: rotate(0deg);}
    12% {width: 12%;}
    32% {width: 8%;}
    58% {width: 9%;}
    83% {width: 8%;}
    92% {width: 0%;}
    100% {width: 0%; -webkit-transform: rotate(-100deg);}
}

@-moz-keyframes LoaderCircle2 {
    0% {width: 0%; -moz-transform: rotate(0deg);}
    12% {width: 12%;}
    32% {width: 8%;}
    58% {width: 9%;}
    83% {width: 8%;}
    92% {width: 0%;}
    100% {width: 0%; -moz-transform: rotate(100deg);}
}

@-o-keyframes LoaderCircle2 {
    0% {width: 0%; -o-transform: rotate(0deg);}
    12% {width: 12%;}
    32% {width: 8%;}
    58% {width: 9%;}
    83% {width: 8%;}
    92% {width: 0%;}
    100% {width: 0%; -o-transform: rotate(100deg);}
}

@keyframes LoaderCircle2 {
    0% {width: 0%; transform:rotate(0deg);}
    12% {width: 12%;}
    32% {width: 8%;}
    58% {width: 9%;}
    83% {width: 8%;}
    92% {width: 0%;}
    100% {width: 0%; transform:rotate(100deg);}
}


@-webkit-keyframes LoaderCircle3 {
    0% {width: 0%;  -webkit-transform:rotate(0deg);}
    15% {width: 30%;}
    35% {width: 23%;}
    60% {width: 27%;}
    85% {width: 23%;}
    96% {width: 0%;}
    100% {width: 0%; -webkit-transform:rotate(-100deg);}
}

@-moz-keyframes LoaderCircle3 {
    0% {width: 0%;  -moz-transform:rotate(0deg);}
    15% {width: 30%;}
    35% {width: 23%;}
    60% {width: 27%;}
    85% {width: 23%;}
    96% {width: 0%;}
    100% {width: 0%; -moz-transform:rotate(-100deg);}
}

@-o-keyframes LoaderCircle3 {
    0% {width: 0%; -o-transform:rotate(0deg);}
    15% {width: 30%;}
    35% {width: 23%;}
    60% {width: 27%;}
    85% {width: 23%;}
    96% {width: 0%;}
    100% {width: 0%; -o-transform:rotate(-100deg);}
}

@keyframes LoaderCircle3 {
    0% {width: 0%;  transform:rotate(0deg);}
    15% {width: 30%;}
    35% {width: 23%;}
    60% {width: 27%;}
    85% {width: 23%;}
    96% {width: 0%;}
    100% {width: 0%;  transform:rotate(-100deg);}
}


@-webkit-keyframes LoaderCircle4 {
    0% {width: 0%; -webkit-transform:rotate(180deg);}
    12% {width: 32%;}
    36% {width: 27%;}
    61% {width: 29%;}
    86% {width: 27%;}
    98% {width: 0%;}
    100% {width: 0%; -webkit-transform:rotate(280deg);}
}

@-moz-keyframes LoaderCircle4 {
    0% {width: 0%; -moz-transform:rotate(180deg);}
    12% {width: 32%;}
    36% {width: 27%;}
    61% {width: 29%;}
    86% {width: 27%;}
    98% {width: 0%;}
    100% {width: 0%; -moz-transform:rotate(280deg);}
}

@-o-keyframes LoaderCircle4 {
    0% {width: 0%; -o-transform:rotate(180deg);}
    12% {width: 32%;}
    36% {width: 27%;}
    61% {width: 29%;}
    86% {width: 27%;}
    98% {width: 0%;}
    100% {width: 0%; -o-transform:rotate(280deg);}
}

@keyframes LoaderCircle4 {
    0% {width: 0%; transform:rotate(180deg);}
    12% {width: 32%;}
    36% {width: 27%;}
    61% {width: 29%;}
    86% {width: 27%;}
    98% {width: 0%;}
    100% {width: 0%; transform:rotate(280deg);}
}


@-webkit-keyframes LoaderCircle5 {
    0% {width: 0%; -webkit-transform:rotate(0deg);}
    10% {width: 35%;}
    36% {width: 30%;}
    61% {width: 32%;}
    86% {width: 30%;}
    100% {width: 0%; -webkit-transform:rotate(-100deg);}
}

@-moz-keyframes LoaderCircle5 {
    0% {width: 0%; -moz-transform:rotate(0deg);}
    10% {width: 35%;}
    36% {width: 30%;}
    61% {width: 32%;}
    86% {width: 30%;}
    100% {width: 0%; -moz-transform:rotate(-100deg);}
}

@-o-keyframes LoaderCircle5 {
    0% {width: 0%; -o-transform:rotate(0deg);}
    10% {width: 35%;}
    36% {width: 30%;}
    61% {width: 32%;}
    86% {width: 30%;}
    100% {width: 0%; -o-transform:rotate(-100deg);}
}

@keyframes LoaderCircle5 {
    0% {width: 0%; transform:rotate(0deg);}
    10% {width: 35%;}
    36% {width: 30%;}
    61% {width: 32%;}
    86% {width: 30%;}
    100% {width: 0%; transform:rotate(-100deg);}
}


@-webkit-keyframes LoaderHeight {
    0% {height: 45%;}
    100% {height: 0%;}
}

@-moz-keyframes LoaderHeight {
    0% {height: 45%;}
    100% {height: 0%;}
}

@-o-keyframes LoaderHeight {
    0% {height: 45%;}
    100% {height: 0%;}
}

@keyframes LoaderHeight {
    0% {height: 45%;}
    100% {height: 0%;}
}